
*{margin: 0px;;; padding: 8px;;}
.hidden{display: none;}
#bg{
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    
}
#popup{
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    background-image: image-set(url(bg-image.png));
    padding: 20px;
    width: auto;
    height: auto;
}
