.column {
    float: left;
    /* background:rgba(14, 94, 14, 0.06); */
  }
  
.left {
    width: 15%;
  }
  
.right {
    width: 85%;
  }

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    border-radius: 25px;
}

.title {
  font-size: xx-large;
}

.single-chart {
    width: 20%;
    justify-content: space-around ;
    padding: 1%;
  }
  
  .chart-header {
    font-size: x-large;
  }

  .chart-elements {
    font-size: medium;
  }

  .number-box {
    font-size: xx-large;
    text-align: center;
  }

  .number-compare {
    font-size: large;
    text-align: center;
    color: rgb(157, 155, 155);
  }

  .description {
    font-size: x-large;
    text-align: center;
  }

  .company-logo {
    padding-inline: 30px;
    padding-block: 30px;
  }

  .background-image{
    background-image: url("background image default.png");
    background-size: cover;
  }

/* Change background image for screens larger than 1200px */
@media (min-width: 1200px) {
  .background-image {
    background-image: url("background image large.png");
    background-size: cover;
  }
}

.card{
  margin-left: 10px;
  margin-right: 10px;
}

.card-img-top {
  max-width: 10rem;
  display: inline-block;
  text-align: center;
  object-fit: contain;
}




